body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f2eee3;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Signika Negative', sans-serif;
  color: #a5a3a0;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 32px;
}

.container {
  margin: 0 auto;
  width: 700px;
}

.white_card {
  margin: 20px;
  padding: 30px;
  box-shadow: 0 10px 20px (0,0,0,0.1);
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

#profile_card {
  padding-bottom: 60px;
}

#profile_card a {
  text-decoration: none;
  padding: 20px;
  background-color: #e8ccb4;
  color: white;
  font-family:'Signika Negative', sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20x (0,0,0,0.1);
}

#profile_card a:hover {
  background-color: #a5a3a0;
  transition: 0.5s;
}

#profile_card p {
  margin-bottom: 40px;
}

#profile_card img {
  border-radius: 50%;
}

.white_card ul li {
  display: inline;
  list-style: none;
  font-size: 32px;
}

.white_card ul {
  padding-left: 0;
}

.white_card ul li a i {
  background-color: #e9d0c5;
  padding: 10px;
  border-radius: 10px;
}


.white_card ul li a i:hover {
  background-color: #a5a3a0;
  transition: 0.5s;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 400px;
  }
}
